body {
    background-color: #2B1B17;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.videosize {
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:20%; 
    height:10vh;
}