body {
    background-color: #2B1B17;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.top-right {

    position: absolute;    
    top: 0;    
    right: 0;    
    padding: 10px;
}